body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.wrapper {
  display: flex;
  height: 100%;
  min-height: 100vh;
}
.login--navbar {
  margin: 0;
  color: white;
  flex: 1;
  max-width: 243px;
  background-color: black;
}

.login--navbar--title {
  margin: 0;
  padding-top: 20px;
  font-weight: 700;
  font-size: 28px;
  color: #afafaf;
  text-align: center;
}

.login--navbar--line {
  margin-top: 53px;
  width: 222px;
  color: #afafaf;
}

.login {
  flex: 1;
  background-color: #272727;
  text-align: center;
}

.login--header {
  margin-top: 336px;
  margin-bottom: 0;
  color: #afafaf;
}

.login--form--token {
  margin-top: 32.5px;
  width: 321px;
  height: 52px;
  box-shadow: none;
  padding-left: 76px;
  border-radius: 30px;
  outline: none;
  font-size: 20px;
  border: 0px solid;
  background: url("./assets/key.svg") no-repeat 25px;
  background-color: white;
}

.login--form--button {
  margin-top: 14.5px;
  margin-bottom: 35px;
  width: 399px;
  height: 52px;
  border-radius: 30px;
  border: 0 solid;
  font-size: 20px;
  background-color: #262e73;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #afafaf;
}

.login--form--button:hover {
  background-color: #2e3aa3;
}

.registration {
  flex: 1;
  background-color: #272727;
  text-align: center;
}

.registration--header {
  margin-top: 336px;
  margin-bottom: 0;
  color: #afafaf;
}

.registration--form--username {
  margin-top: 32.5px;
  width: 321px;
  height: 52px;
  box-shadow: none;
  padding-left: 76px;
  border-radius: 30px;
  outline: none;
  font-size: 20px;
  border: 0px solid;
  background: url("./assets/account_circle.svg") no-repeat 25px;
  background-color: white;
}

.registration--form--faction {
  margin-top: 14.5px;
  width: 212px;
  height: 52px;
  padding-left: 12.5px;
  background-color: white;
  color: #939393;
  font-size: 20px;
  border: 0px solid;
  box-shadow: none;
  border-radius: 15px;
}

.registration--token {
  margin-top: 18px;
  min-width: 225px;
  max-width: 399px;
  min-height: 49px;
  border: 1px solid #aaaa;
  border-radius: 20px;
  background-color: #272727;
  color: white;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  display: inline-block;
  user-select: text;
}

.registration--token--text {
  overflow: hidden;
  word-wrap: break-word;
}

.registration--token img {
  float: left;
  margin-left: 17px;
  margin-top: 3px;
  width: 40px;
  height: 27px;
}

.registration--token:hover {
  background-color: #4d4d4d;
}

.registration--form--button {
  margin-top: 14.5px;
  margin-bottom: 35px;
  width: 399px;
  height: 52px;
  border-radius: 30px;
  border: 0 solid;
  font-size: 20px;
  background-color: #262e73;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #afafaf;
}

.registration--form--button:hover {
  background-color: #2e3aa3;
}

.registration--errorMessage {
  margin-top: 14.5px;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 300;
  color: #970202;
}

.registration--successMessage {
  margin-top: 17.5px;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 300;
  color: #099f06;
}

.navbar {
  margin: 0;
  color: #afafaf;
  flex: 1;
  /* Needs min and max width, otherwise the width increases slightly on the ship status page, when the page width is low */
  min-width: 243px;
  max-width: 243px;
  background-color: black;
}

.navbar--title {
  margin: 0;
  padding-top: 20px;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

.navbar--line {
  margin-top: 53px;
  width: 222px;
  margin-bottom: 36px;
}

.navbar--item {
  margin-top: 0;
  width: 100%;
  height: 62px;
  color: #afafaf;
  display: flex;
  align-items: center;
}

.navbar--item:hover {
  background-color: #5f5f5f;
}

.navbar--item--icon {
  margin-left: 30px;
  width: 24px;
  height: 24px;
}

.navbar--item--title {
  margin-left: 14px;
  font-size: 20px;
}

.mainContent {
  flex: 1;
}

.accountDetails {
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 23px;
  padding-right: 25px;
  gap: 14px;
}

.accountDetails--credits {
  color: #099f06;
  font-size: 20px;
  margin: 0;
}

.accountDetails--name {
  color: #afafaf;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.fleet {
  flex: 1;
  min-height: 100vh;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #272727;
  color: #afafaf;
}

.fleet--header {
  margin-top: 0;
  margin-bottom: 35px;
}

.fleet--ship {
  color: #afafaf;
  display: flex;
  padding-left: 31px;
  padding-right: 31px;
  height: 74px;
  border: 2px solid #aaaa;
  border-radius: 22px;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}

.fleet--ship:hover {
  background-color: #525252;
}

.fleet--ship--details {
  margin-left: auto;
  padding-left: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  line-break: none;
  white-space: nowrap;
}

.shipStatusNavbar--back--layout {
  width: 100%;
  height: 33px;
  background-color: #272727;
}

.shipStatusNavbar--back {
  position: absolute;
  margin-left: 25px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  height: 33px;
  gap: 10px;
  align-items: center;
  justify-content: left;
  background-color: #272727;
  color: #afafaf;
}

.shipStatusNavbar--back--text {
  font-weight: 200;
  font-size: 20px;
}

.shipStatusNavbar--back--text:hover {
  text-decoration-line: underline;
}

.shipStatusNavbar--shipname {
  display: flex;
  align-items: center;
  background-color: #272727;
  padding: 53px 0 0 25px;
  gap: 20px;
}

.shipStatusNavbar--shipname--header {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  color: white;
}

.shipStatusNavbar--shipname--frame {
  margin: 0;
  font-size: 20px;
  font-style: italic;
  color: #aaaa;
}

.shipStatusNavbar--nav {
  background-color: #272727;
  padding: 50px 0 10px 25px;
}

.shipStatusNavbar--nav--link {
  padding-right: 29px;
  color: #afafaf;
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: none;
}

.shipStatusNavbar--nav--link:hover {
  text-decoration-line: underline;
}
